<ion-header>
  <ion-toolbar>
    <ion-buttons (click) = "toOrder()" slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Ordenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">

      <div class="col-12 mt-3">
        <div class="card p-3">
          <div class="d-flex">
            <div class="btn btn-success"><i class="bi bi-bag-check"></i></div>
            <div class="ml-3 card-item-info">
              <p class="mb-0 text-black">Orden #1</p>
              <p class="mb-0 text-black h3 fst-italic">Q.10.00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="card p-3">
          <div class="d-flex">
            <div class="btn btn-success"><i class="bi bi-bag-check"></i></div>
            <div class="ml-3 card-item-info">
              <p class="mb-0 text-black">Orden #2</p>
              <p class="mb-0 text-black h3 fst-italic">Q.10.00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="card p-3">
          <div class="d-flex">
            <div class="btn btn-success"><i class="bi bi-bag-check"></i></div>
            <div class="ml-3 card-item-info">
              <p class="mb-0 text-black">Orden #3</p>
              <p class="mb-0 text-black h3 fst-italic">Q.10.00</p>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- Termina el row -->
  </div>
</ion-content>

