.ml-3{
    margin-left: 15px;
}
.card-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buy-btn{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #FF5722;
}
.col-btn-buy{
    position: absolute;
    bottom: 15px;
}